<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | NiceDays</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css"/>
    <link rel="stylesheet" href="{{"css/style.css" | absURL }}">
    <link rel="stylesheet" href="{{"css/article_card.css" | absURL }}">
    <link rel="stylesheet" href="{{"css/markdown.css" | absURL }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&family=Volkhov:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600&family=Volkhov:ital,wght@0,700;1,400&family=Zen+Maru+Gothic:wght@400;700;900&display=swap" rel="stylesheet">
</head>