

<header>
    <div id="header_phone">
        <div class="flexCenter" id="header_phone_banner">
            <img src="{{"images/bluesky.svg" | absURL }}" id="header_phone_img" onclick="location.href='{{ "" | absURL }}'">
            <img src="{{"images/menu.svg" | absURL }}" id="header_phone_menu_open">
            <img src="{{"images/close.svg" | absURL }}" id="header_phone_menu_close">
        </div>
        <!--
        <div id="header_phone_links">
            <ul class="flexCenter">
                <li><a href="{{ "" | absURL }}">Home</a></li>
                <li><a>Profile</a></li>
                <li><a>Contact</a></li>
            </ul>
        </div>
        -->
        <div id="header_phone_menu">
            <div id="header_phone_menu_title">MENU</div>
            <ul>
                <li><a href="{{ "" | absURL }}">&middot; HOME</a></li>
                <li><a href="{{ "posts/blog/profile/profile/" | absURL }}">&middot; PROFILE</a></li>
                <li><a href="{{ "posts/blog/contact/contact/" | absURL }}">&middot; CONTACT</a></li>
            </ul>
            <div class="flexCenter" id="header_phone_menu_snslogos">
                <img src="{{"images/Instagram.svg" | absURL }}" class="header_phone_snslogo" draggable="false" onclick="location.href='https://www.instagram.com/nicedays_blog/'">
                <img src="{{"images/Github.svg" | absURL }}" class="header_phone_snslogo" draggable="false" onclick="location.href='https://github.com/foreboo'">
                <img src="{{"images/email.svg" | absURL }}" class="header_phone_snslogo" draggable="false" onclick="location.href='mailto:foreboo9@gmail.com'">
            </div>
        </div>
    </div>
    <div id="header_pc">
        <ul>
            <li><a href="{{ "" | absURL }}">Home</a></li>
            <li><a href="{{ "posts/blog/profile/profile/" | absURL }}">Profile</a></li>
            <li><a href="{{ "posts/blog/contact/contact/" | absURL }}">Contact</a></li>
        </ul>
        <div id="header_pc_snslogos">
            <img src="{{"images/Instagram.svg" | absURL }}" class="header_pc_snslogo" onclick="location.href='https://www.instagram.com/nicedays_blog/'">
            <img src="{{"images/Github.svg" | absURL }}" class="header_pc_snslogo" onclick="location.href='https://github.com/foreboo'">
            <img src="{{"images/email.svg" | absURL }}" class="header_pc_snslogo" onclick="location.href='mailto:foreboo9@gmail.com'">
        </div>
        <div id="header_pc_banner">
            <img src="{{"images/bluesky.svg" | absURL}}" id="header_pc_img" onclick="location.href='{{ "" | absURL }}'">
        </div>
    </div>
</header>
<script>

    document.getElementById("header_phone_menu_open").onclick = () => {
        document.getElementById("header_phone_menu_open").style.display = "none";
        document.getElementById("header_phone_menu_close").style.display = "block";
        document.getElementById("header_phone_menu").style.display = "block";
    };
    document.getElementById("header_phone_menu_close").onclick = () => {
        document.getElementById("header_phone_menu_close").style.display = "none";
        document.getElementById("header_phone_menu_open").style.display = "block";
        document.getElementById("header_phone_menu").style.display = "none";
    }
</script>